.App {
  background-color: #16181a;
  color: #faa007;
  width: 100%;
}

.App-header {
  background-color: #16181a;
  font-size: calc(10px + 2vmin);
  color: #faa007;
}

h1 {
  padding: 1%;
}

.breadcrumb {
  background-color: #1f2125;
}
li.breadcrumb-item {
  padding: 1vh;
  padding-left: 15vw;
}
li.breadcrumb-item > a {
  color: #faa007;
}
li.breadcrumb-item.active {
  color: #7a7f84;
}

#contenido {
  width: 100%;
  height: 100vh;
}

.footer {
  color: #b7b8b8;
  position: fixed;
  background-color: #16181a;
  bottom: 0;
  width: 100%;
}

th {
  color: #faa007;
}