#sidebar {
    height: 100vh;
    background-color: #1f2125;
    color: #faa007;
}

.navbar-nav {
    height: 100vh;
}

NavLink {
    color: #faa007;
}

li.nav-item > a {
    color: #faa007;
}

.ReactCollapse--content > .nav-item > .nav-link {
    padding-left: 2vw;
}